@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}

.page-content-top {
  @apply p-4 min-h-72;
}

.location-list {
  @apply flex flex-nowrap mt-4 gap-2 overflow-auto;
}

#__nuxt {
  .dark & .maplibregl-popup-content {
    @apply text-white bg-gray-800;
  }
  .maplibregl-popup-close-button {
    @apply px-2;
  }
  .dark & .maplibregl-popup-anchor-bottom .maplibregl-popup-tip,
  .dark & .maplibregl-popup-anchor-bottom-right .maplibregl-popup-tip,
  .dark & .maplibregl-popup-anchor-bottom-left .maplibregl-popup-tip {
    @apply border-t-gray-800;
  }
  .dark & .maplibregl-popup-anchor-top .maplibregl-popup-tip,
  .dark & .maplibregl-popup-anchor-top-right .maplibregl-popup-tip,
  .dark & .maplibregl-popup-anchor-top-left .maplibregl-popup-tip {
    @apply border-b-gray-800;
  }
  .dark & .maplibregl-popup-anchor-right .maplibregl-popup-tip {
    @apply border-l-gray-800;
  }
  .dark & .maplibregl-popup-anchor-left .maplibregl-popup-tip {
    @apply border-r-gray-800;
  }
}
